<h1>Editando Link</h1>

<%= render 'form', link: @link %>

<div class="form-group">
	<%= link_to 'Mostrar', @link, class: "btn btn-default" %>
	<%= link_to 'Atras', links_path, class: "btn btn-danger" %>
</div>